<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Condenser.Properties.Settings.condenserConnectionString" connectionString="data source=&quot;D:\Sergey\Home Sergey\Программинг\Образцов\Condenser\DiarMain\bin\Debug\DB\condenser.sqlite&quot;" providerName="System.Data.SQLite"/>
    </connectionStrings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="DLL\"/>
      </assemblyBinding>
    </runtime>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
